<h3>Select Hall</h3>

 <style type="text/css">
 	.menu{position:relative;
 		margin:50px;
 	}
 	.menu:hover .content a{
 		display:block;
 	}
 	.btn{
 		border:none;
 		color:#fff;
 		padding: 8px 12px;
 		cursor: pointer;
 	}
 	.content{
 		min-width: 200px;
 		position: absolute;
 	}
 	.content a{
 		text-decoration: none;
 		color:#fff;
 		background-color: #3498db;
 		margin-bottom: 5px;
 		padding: 8px 2px;
 		display: none;
 		transition: 0.3s all; 
 		text-align: center;
 		width:106px;
 	}
 	.content a :hover{
 		opacity: 0.7px;
 	}
 	ul li{
 		display: inline-block;
 	}
 	

 </style>

	<div class="menu">
	<input type="button" class="btn" name="SAVE ME" value="Akuafo Hall" style="background-color: #0e680d;">
	<ul class="content">
		<li><a href="#">Room1 b1 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b2<input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b3 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b4 <input type="checkbox" name="" id="check"></a></li>
        <li><a href="#">Room1 b1 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b2<input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b3 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b4 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b1 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b2<input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b3 <input type="checkbox" name="" id="check"></a></li>
		<li><a href=""><button style="color:#fff; background:#0e680d;">Submit</button></a></li>
	</ul>
</div>

<div class="menu">
	<input type="button" class="btn" name="SAVE ME" value="Legon Hall" style="background-color: #6abee6;">
	<ul class="content">
		<li><a href="#">Room1 b1 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b2<input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b3 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b4 <input type="checkbox" name="" id="check"></a></li>
        <li><a href="#">Room1 b1 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b2<input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b3 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b1 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b2<input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b3 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b4 <input type="checkbox" name="" id="check"></a></li>
		<li><a href=""><button style="color:#fff; background:#0e680d;">Submit</button></a></li>
	</ul>
</div>

<div class="menu">
	<input type="button" class="btn" name="SAVE ME" value="Mensah Sarbah Hall" style="background-color: #101314;">
	<ul class="content">
		<li><a href="#">Room1 b1 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b2<input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b3 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b4 <input type="checkbox" name="" id="check"></a></li>
        <li><a href="#">Room1 b1 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b2<input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b3 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b1 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b2<input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b3 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b4 <input type="checkbox" name="" id="check"></a></li>
		<li><a href=""><button style="color:#fff; background:#0e680d;">Submit</button></a></li>
	</ul>
</div>

<div class="menu">
	<input type="button" class="btn" name="SAVE ME" value="CommonWealth Hall" style="background-color: #72050f;">
	<ul class="content">
		<li><a href="#">Room1 b1 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b2<input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b3 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b4 <input type="checkbox" name="" id="check"></a></li>
        <li><a href="#">Room1 b1 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b2<input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b3 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b1 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b2<input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b3 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b4 <input type="checkbox" name="" id="check"></a></li>
		<li><a href=""><button style="color:#fff; background:#0e680d;">Submit</button></a></li>
	</ul>
</div>


<div class="menu">
	<input type="button" class="btn" name="SAVE ME" value="Bani Hall" style="background-color: #5e6224;">
	<ul class="content">
		<li><a href="#">Room1 b1 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b2<input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b3 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b4 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b1 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b2<input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b3 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b1 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b2<input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b3 <input type="checkbox" name="" id="check"></a></li>
		<li><a href="#">Room1 b4 <input type="checkbox" name="" id="check"></a></li>
		<li><a href=""><button style="color:#fff; background:#0e680d;">Submit</button></a></li>
	</ul>
</div>



