<h3>{{viewTitle}}</h3>
<style type="text/css">
.form{
			/*text-align: center;*/
			/*background-color: #0B2471;*/
    text-align: center;
    background-image:  radial-gradient(#0B2471,#7088D1,#07206F);
    width: 20%;
    height: 45%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 0%;
    margin-top: 10%;
    margin-left: 34%;
    cursor:pointer;
		      }
		#log{    
	text-align: center;
    height: 24px;
    margin-bottom: 5%;
    border-radius: 46%;
            }
        #log:hover{
   	background-color: #15b000;
                  }
		h3{
	text-transform: uppercase;
	color:#fff;
	margin-top: 55px;

		  }

		#input{
	height:25px;
	border-radius: 7%;
			  }
			  </style>

<div class="container">
		<div class="row">
			<form class="form" action='/login' method='post'>
				<!-- <img src="img/user.jpg" style="border-radius: 50%;width:40%;height: 40%;"> -->
				<hr style="margin-top: 10px;">
				<h3>User Credentials</h3>
				<hr>
				<input type="text" name="" placeholder="Student ID" id="input">
				<br><br>
				<input type="password" name="" placeholder="PIN" id="input">
				<br><br>
				<input id="log" type="submit" value="Login" >


			</form>
		</div>
	</div>
